:root {
  --bg-dark-scheme: #100508;
  --bg1-dark-scheme: rgba(99, 86, 89, 0.5);
  --fg-dark-scheme: rgb(255, 250, 252);
  --fg1-dark-scheme: rgba(255, 250, 252, 0.5);

  --bg-light-scheme: #fffafc;
  --bg1-light-scheme: rgba(197, 191, 197, 0.5);
  --fg-light-scheme: rgb(16, 5, 8);
  --fg1-light-scheme: rgba(16, 5, 8, 0.5);
}

html {
  --fg: var(--fg-dark-scheme);
  --fg1: var(--fg1-dark-scheme);
  --bg: var(--bg-dark-scheme);
  --bg1: var(--bg1-dark-scheme);

  background-color: var(--bg);
  color: var(--fg);
  font-size: 20px;
}

@media (prefers-color-scheme: light) {
  html {
    --fg: var(--fg-light-scheme);
    --fg1: var(--fg1-light-scheme);
    --bg: var(--bg-light-scheme);
    --bg1: var(--bg1-light-scheme);
  }
}

body {
  font-family: "Radio Canada Big", sans-serif;
  display: grid;
  grid-template-columns: 1fr 0.5rem [main-start] calc(768px - 1rem) [main-end] 0.5rem 1fr;
  padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 0.5rem [main-start] 1fr [main-end] 0.5rem;
  }
}

@media screen and (max-width: 512px) {
  html {
    font-size: 16px;
  }
}

body * {
  grid-column-start: main-start;
  grid-column-end: main-end;
}

a,
a:link,
a:visited {
  color: inherit;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  transition: text-decoration-thickness 0.1s ease-in-out;
  border-radius: 4px;
}

a:focus-visible {
  outline: 2px solid var(--fg);
  outline-offset: 1px;
}

a:hover {
  text-decoration-thickness: 0.3em;
}

input,
select,
option,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::placeholder {
  color: var(--fg1);
}

.block-title {
  grid-column-start: main-start;
  grid-column-end: main-end;
}

.title {
  font-weight: 800;
  font-size: 2.5em;
  margin: 3rem 0 0 0;
}

@media screen and (max-width: 512px) {
  .title {
    margin-top: 1rem;
  }
}

.description {
  margin: 0 0 2rem 0;
}

.attribution {
  color: var(--fg1);
}

.form,
#form-fields {
  display: contents;
}

select:focus-visible,
input:focus-visible,
button:focus-visible {
  outline: 2px solid var(--fg);
  outline-offset: 1px;
}

.text-input-container {
  --fg: var(--fg-dark-scheme);
  --fg1: var(--fg1-dark-scheme);
  color: var(--fg);
  background: rgb(130, 10, 113);
  background: linear-gradient(
    32deg,
    rgba(130, 10, 113, 1) 0%,
    rgba(0, 213, 255, 1) 100%
  );
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-column-end: main-end;
  position: relative;
}

#language-0 {
  color: var(--fg-dark-scheme);
  background-color: transparent;
  border: 1px solid var(--fg1);
  font-size: 1em;
  padding: 1px 3px;
  font-weight: inherit;
  border-radius: 4px;
}

.text-input-container input {
  color: inherit;
  background-color: transparent;
  border: 1px solid var(--fg1);
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 4px;
  padding: 0.3em;
}

.target-languages {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  grid-column-start: main-start;
  grid-column-end: main-end;
}

.block-target-languages {
  margin-top: 2rem;
  grid-column-start: main-start;
  grid-column-end: main-end;
}

.hidden-label {
  display: none;
}

.target-languages select {
  color: var(--fg);
  background-color: var(--bg1);
  border: none;
  border-radius: 4px;
  padding: 0.5em;
}

.original-language-label {
  margin-top: 0.5rem;
}

.block-submit {
  grid-column-start: main-start;
  grid-column-end: main-end;
}

.button {
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  border-radius: 16px;
  padding: 1rem;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.5em;
  position: relative;
  overflow: hidden;
  background: rgb(10, 130, 45);
  background: linear-gradient(
    32deg,
    var(--bg1) 0%,
    var(--bg1) 25%,
    rgba(10, 130, 45, 1) 50%,
    rgba(0, 203, 255, 1) 70%,
    rgba(170, 10, 100, 1) 90%,
    var(--bg) 100%
  );
  background-size: 800% 100%;
  background-position: 0 0;
  transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out,
    background-size 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:disabled {
  cursor: default;
  color: var(--fg-dark-scheme);
  background-position: 100% 0;
  animation: morphing 3s ease-in-out 0s infinite alternate;
}

@keyframes morphing {
  0% {
    background-size: 800% 100%;
  }

  100% {
    background-size: 1600% 100%;
  }
}

.button .button-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.3s;
}

.button:disabled .button-content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.button:not(:disabled):hover {
  color: var(--fg-dark-scheme);
  background-position: 50% 0;
  animation: morphing 3s ease-in-out 0s infinite alternate;
}

.loading-spinner {
  stroke: currentColor;
  fill: none;
  stroke-width: 3;
  height: 1em;
  stroke-dasharray: 38, 12.2656;
  stroke-dashoffset: 45;
  animation: spinning 1s linear 0s infinite reverse,
    vibing 2s ease-in-out 0s infinite alternate;
  animation-fill-mode: forwards;
}

#indicator {
  opacity: 0;
  font-size: 1.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}

#indicator.htmx-request {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.3s;
}

#indicator.htmx-request + .button-content {
  opacity: 0;
}

#result {
  grid-column-start: main-start;
  grid-column-end: main-end;
  margin-bottom: 1rem;
}

.result-content {
  --fg: var(--fg-dark-scheme);
  --fg1: var(--fg1-dark-scheme);
  color: var(--fg);
  margin-top: 3rem;
  background: linear-gradient(
    32deg,
    rgba(10, 130, 45, 1) 0%,
    rgba(0, 203, 255, 1) 100%
  );
  padding: 1rem;
  border-radius: 16px;
  overflow: hidden;
}

.result-content.result-error {
  background: linear-gradient(32deg, rgb(148, 0, 0) 0%, rgb(187, 105, 12) 100%);
}

.result-content summary {
  font-weight: 700;
  font-size: 1.5em;
  overflow-wrap: break-word;
  hyphens: auto;
}

.result-content li {
  overflow-wrap: break-word;
  hyphens: auto;
}

.result-lang {
  border: 1px solid var(--fg1);
  border-radius: 4px;
  padding: 0.1em 0.2em;
  font-size: 0.7em;
  vertical-align: middle;
}

@keyframes spinning {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 50.2656;
  }
}

@keyframes vibing {
  0% {
    stroke-dasharray: 20, 30.2656;
  }

  100% {
    stroke-dasharray: 45.2656, 5;
  }
}
